@layer tooltip {
	[data-tooltip] {
		position: relative;
	}
	[data-tooltip]:not(a, button, input) {
		border-bottom: 1px dotted;
		text-decoration: none;
		cursor: help;
	}
	[data-tooltip]::after,
	[data-tooltip]::before,
	[data-tooltip][data-tooltip="top"]::after,
	[data-tooltip][data-tooltip="top"]::before {
		display: block;
		z-index: 99;
		position: absolute;
		bottom: 100%;
		left: 50%;
		padding: 0.25rem 0.5rem;
		overflow: hidden;
		transform: translate(-50%, -0.25rem);
		border-radius: var(--pix--border-radius);
		background: var(--pix--tooltip-background-color);
		content: attr(title);
		color: var(--pix--tooltip-color);
		font-style: normal;
		font-weight: var(--pix--font-weight);
		font-size: 0.875rem;
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;
		opacity: 0;
		pointer-events: none;
	}
	[data-tooltip]::after,
	[data-tooltip][data-tooltip="top"]::after {
		padding: 0;
		transform: translate(-50%, 0);
		border-top: 0.3rem solid;
		border-right: 0.3rem solid transparent;
		border-left: 0.3rem solid transparent;
		border-radius: 0;
		background-color: transparent;
		content: "";
		color: var(--pix--tooltip-background-color);
	}
	[data-tooltip][data-tooltip="bottom"]::after,
	[data-tooltip][data-tooltip="bottom"]::before {
		top: 100%;
		bottom: auto;
		transform: translate(-50%, 0.25rem);
	}
	[data-tooltip][data-tooltip="bottom"]:after {
		transform: translate(-50%, -0.3rem);
		border: 0.3rem solid transparent;
		border-bottom: 0.3rem solid;
	}
	[data-tooltip][data-tooltip="left"]::after,
	[data-tooltip][data-tooltip="left"]::before {
		top: 50%;
		right: 100%;
		bottom: auto;
		left: auto;
		transform: translate(-0.25rem, -50%);
	}
	[data-tooltip][data-tooltip="left"]:after {
		transform: translate(0.3rem, -50%);
		border: 0.3rem solid transparent;
		border-left: 0.3rem solid;
	}
	[data-tooltip][data-tooltip="right"]::after,
	[data-tooltip][data-tooltip="right"]::before {
		top: 50%;
		right: auto;
		bottom: auto;
		left: 100%;
		transform: translate(0.25rem, -50%);
	}
	[data-tooltip][data-tooltip="right"]:after {
		transform: translate(-0.3rem, -50%);
		border: 0.3rem solid transparent;
		border-right: 0.3rem solid;
	}
	[data-tooltip]:focus::after,
	[data-tooltip]:focus::before,
	[data-tooltip]:hover::after,
	[data-tooltip]:hover::before {
		opacity: 1;
	}
	@media (hover: hover) and (pointer: fine) {
		[data-tooltip]:focus::after,
		[data-tooltip]:focus::before,
		[data-tooltip]:hover::after,
		[data-tooltip]:hover::before {
			--pix--tooltip-slide-to: translate(-50%, -0.25rem);
			transform: translate(-50%, 0.75rem);
			animation-duration: 0.2s;
			animation-fill-mode: forwards;
			animation-name: tooltip-slide;
			opacity: 0;
		}
		[data-tooltip]:focus::after,
		[data-tooltip]:hover::after {
			--pix--tooltip-caret-slide-to: translate(-50%, 0rem);
			transform: translate(-50%, -0.25rem);
			animation-name: tooltip-caret-slide;
		}
		[data-tooltip][data-tooltip="bottom"]:focus::after,
		[data-tooltip][data-tooltip="bottom"]:focus::before,
		[data-tooltip][data-tooltip="bottom"]:hover::after,
		[data-tooltip][data-tooltip="bottom"]:hover::before {
			--pix--tooltip-slide-to: translate(-50%, 0.25rem);
			transform: translate(-50%, -0.75rem);
			animation-name: tooltip-slide;
		}
		[data-tooltip][data-tooltip="bottom"]:focus::after,
		[data-tooltip][data-tooltip="bottom"]:hover::after {
			--pix--tooltip-caret-slide-to: translate(-50%, -0.3rem);
			transform: translate(-50%, -0.5rem);
			animation-name: tooltip-caret-slide;
		}
		[data-tooltip][data-tooltip="left"]:focus::after,
		[data-tooltip][data-tooltip="left"]:focus::before,
		[data-tooltip][data-tooltip="left"]:hover::after,
		[data-tooltip][data-tooltip="left"]:hover::before {
			--pix--tooltip-slide-to: translate(-0.25rem, -50%);
			transform: translate(0.75rem, -50%);
			animation-name: tooltip-slide;
		}
		[data-tooltip][data-tooltip="left"]:focus::after,
		[data-tooltip][data-tooltip="left"]:hover::after {
			--pix--tooltip-caret-slide-to: translate(0.3rem, -50%);
			transform: translate(0.05rem, -50%);
			animation-name: tooltip-caret-slide;
		}
		[data-tooltip][data-tooltip="right"]:focus::after,
		[data-tooltip][data-tooltip="right"]:focus::before,
		[data-tooltip][data-tooltip="right"]:hover::after,
		[data-tooltip][data-tooltip="right"]:hover::before {
			--pix--tooltip-slide-to: translate(0.25rem, -50%);
			transform: translate(-0.75rem, -50%);
			animation-name: tooltip-slide;
		}
		[data-tooltip][data-tooltip="right"]:focus::after,
		[data-tooltip][data-tooltip="right"]:hover::after {
			--pix--tooltip-caret-slide-to: translate(-0.3rem, -50%);
			transform: translate(-0.05rem, -50%);
			animation-name: tooltip-caret-slide;
		}
	}
	@keyframes tooltip-slide {
		to {
			transform: var(--pix--tooltip-slide-to);
			opacity: 1;
		}
	}
	@keyframes tooltip-caret-slide {
		50% {
			opacity: 0;
		}
		to {
			transform: var(--pix--tooltip-caret-slide-to);
			opacity: 1;
		}
	}
}
