@layer a11y {
	[aria-controls] {
		cursor: pointer;
	}

	:where([aria-disabled="true"], [disabled]) {
		cursor: not-allowed;
	}

	[aria-hidden="false"] {
		&[hidden] {
			display: initial;

			&:not(:focus) {
				clip: rect(0, 0, 0, 0);
				position: absolute;
			}
		}
	}
}
