@layer typography {
	:root {
		--pix--t--ratio: 1.125; /* minor second */

		h1 {
			font-size: calc(1em * pow(var(--pix--t--ratio), 6));
		}

		h2 {
			font-size: calc(1em * pow(var(--pix--t--ratio), 5));
		}

		h3 {
			font-size: calc(1em * pow(var(--pix--t--ratio), 4));
		}

		h4 {
			font-size: calc(1em * pow(var(--pix--t--ratio), 3));
		}

		h5 {
			font-size: calc(1em * pow(var(--pix--t--ratio), 2));
		}

		h6 {
			font-size: calc(1em * pow(var(--pix--t--ratio), 1));
		}
	}
}
